.row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;

  @media screen and (min-width: map-get($breakpoints, "medium")) {
    flex-direction: row;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}