header {
    display: flex;
    position: absolute;
    top: 24px;
    right: 0;
    left: 0;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 16px 56px;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: map-get($breakpoints, "small")) {
        padding: 0 80px 0;
        top: 48px;
    }

    .logo {
        width: 104px;
        height: 16px;

        @media screen and (min-width: map-get($breakpoints, "small")) {
            width: 200px;
            height: 31px;
        }
    }
}