.feature-block {
    margin: 40px 0;
    padding: 0 80px;
    height: 440px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content, &__visual {
        flex: 0 0 47%;
    }

    &__content {
        max-width: 488px;
        
        p {
            color: $gray;
        }
    }

    &__visual {
        max-width: 440px;

        img {
            display: block;
            margin: auto;
            height: 332.29px;
        }
    }
}