.background-hero {
    background-image: url('/src/assets/img/bg-hero-mobile.svg');
    background-color: $pale-cyan;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: map-get($breakpoints, "medium")) {
        background-image: url('/src/assets/img/bg-hero-desktop.svg');
    }
}

.hero {
    padding: 109px 15px 37px;
    margin-bottom: 59px;

    @media screen and (min-width: map-get($breakpoints, "medium")) {
        display: flex;
        padding: 167px 0 72px 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 160px;
        margin-right: 10px;
    }

    &__content, &__visual {
        text-align: center;

        @media screen and (min-width: map-get($breakpoints, "medium")) {
            text-align: left;
        }
    }

    &__content {
        flex-basis: 536px;
        flex-shrink: 1.5;

        @media screen and (min-width: map-get($breakpoints, "medium")) {
            margin-right: 30px;
        }

        p {
            max-width: 520px;
            margin-bottom: 32px;
        }

        .btn {
            margin-bottom: 56px;

            @media screen and (min-width: map-get($breakpoints, "medium")) {
                margin-bottom: 0;
            }
        }
    }

    &__visual {
        flex-basis: 680px;

        img {
            height: 209px;
            width: auto;

            @media screen and (min-width: map-get($breakpoints, "medium")) {
                height: auto;
                width: 100%;
            }
        }
    }
}
