<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <title>
      Frontend Mentor | Huddle landing page with alternating feature blocks
    </title>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="<%= require('~/assets/img/logo.svg') %>"
        alt="logo"
      />
      <button class="btn">Try It Free</button>
    </header>
    <section class="background-hero">
      <div class="container">
        <div class="hero">
          <div class="hero__content">
            <h1>Build The Community Your Fans Will Love</h1>
            <p>
              Huddle re-imagines the way we build communities. You have a voice,
              but so does your audience. Create connections with your users as
              you engage in genuine discussion.
            </p>
            <button class="btn btn--primary btn--large">
              Get Started For Free
            </button>
          </div>
          <div class="hero__visual">
            <img
              srcset="<%= require('~/assets/img/illustration-mockups-mobile.svg') %> 301w,
                      <%= require('~/assets/img/illustration-mockups.svg') %> 1035w"
              sizes="(max-width: 767px) 301px, 1035px"
              src="<%= require('~/assets/img/illustration-mockups.svg') %>"
              alt="mockups"
            />
          </div>
        </div>
      </div>
    </section>

    <main>
      <div class="container">
        <div class="feature">
          <div class="feature__content">
            <h2>Grow Together</h2>
            <p>
              Generate meaningful discussions with your audience and build a
              strong, loyal community. Think of the insightful conversations you
              miss out on with a feedback form.
            </p>
          </div>
          <div class="feature__visual">
            <img
              src="<%= require('~/assets/img/illustration-grow-together.svg') %>"
              alt="Grow together"
            />
          </div>
        </div>

        <div class="feature">
          <div class="feature__visual">
            <img
              src="<%= require('~/assets/img/illustration-flowing-conversation.svg') %>"
              alt="Grow together"
            />
          </div>
          <div class="feature__content">
            <h2>Flowing Conversations</h2>
            <p>
              You wouldn't paginate a conversation in real life, so why do it
              online? Our threads have just-in-time loading for a more natural
              flow.
            </p>
          </div>
        </div>

        <div class="feature">
          <div class="feature__content">
            <h2>Your Users</h2>
            <p>
              It takes no time at all to integrate Huddle with your app's
              authentication solution. This means, once signed in to your app,
              your users can start chatting immediately.
            </p>
          </div>
          <div class="feature__visual">
            <img
              src="<%= require('~/assets/img/illustration-your-users.svg') %>"
            />
          </div>
        </div>
      </div>
    </main>

    <div class="cta">
      <div class="cta__content">
        <h1>Ready To Build Your Community?</h1>
        <button class="btn btn--primary btn--xl">Get Started For Free</button>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row footer__logo">
          <img src="<%= require('~/assets/img/logo-white.svg') %>" alt="logo" />
        </div>
        <div class="row">
          <div class="column contact">
            <span class="contact__item contact__item--location">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua
            </span>
            <span class="contact__item contact__item--phone"
              >+1-543-123-4567</span
            >
            <span class="contact__item contact__item--email"
              >example@huddle.com</span
            >
          </div>
          <div class="column links links">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
            <ul>
              <li><a href="#">Career</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="column social">
            <img
              src="<%= require('~/assets/img/icon-facebook.svg') %>"
              alt="facebook icon"
            />
            <img
              src="<%= require('~/assets/img/icon-twitter.svg') %>"
              alt="facebook icon"
            />
            <img
              src="<%= require('~/assets/img/icon-instagram.svg') %>"
              alt="facebook icon"
            />
          </div>
        </div>

        <span class="copyright"
          >&copy; Copyright 2018 Huddle. All rights reserved.</span
        >
      </div>
    </footer>
  </body>
</html>
