/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  line-height: 27;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
}

h1, h2 {
  font-family: $headings-font-stack;
  font-weight: 600;
  font-style: normal;

}

h1 {
  font-size: 2.2222222222222223rem;
  line-height: 60px;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.5555555555555556rem;
  line-height: 24px;
  margin-bottom: 16px;
}